node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

# All Markdown files
*.md
**/*.md

# Keep essential project files only
!README.md
!LICENSE.md
!CONTRIBUTING.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock